In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Put your statements here
import pandas as pd
import numpy as np

In [ ]:
data25, data50, data75, data100 = pd.DataFrame(),pd.DataFrame(),pd.DataFrame(),pd.DataFrame()

In [ ]:
csv_path = '/content/drive/MyDrive/Colab Notebooks/Flink/nation.csv'
nation = pd.read_csv(csv_path, sep='|',header=None)
nation['data']= nation[0].astype(str)+"|"+nation[1]+"|"+nation[2].astype(str)+"|"+nation[3]
nation = nation['data']

In [ ]:
#split the data into 4 parts
nation_split = np.array_split(nation, 4)
nation25, nation50, nation75, nation100=0,0,0,0
df = [nation25, nation50, nation75, nation100]
for i in range(4):
    df[i] = pd.DataFrame(nation_split[i]) 
    tag = [str(25*(i+1))]*len(df[i])
    table = ['nation']*len(df[i])
    df[i]['tag'] = tag
    df[i]['table'] = table
#combine them together
#nation_new = pd.concat(df)
#display(nation_new)

In [ ]:
data25 = pd.concat([data25, pd.DataFrame(df[0])])
data50 = pd.concat([data50, pd.DataFrame(df[1])])
data75 = pd.concat([data75, pd.DataFrame(df[2])])
data100 = pd.concat([data100, pd.DataFrame(df[3])])

In [ ]:
data25 = data25['data'].astype(str)+"|"+data25['tag']+"|"+data25['table']
data50 = data50['data'].astype(str)+"|"+data50['tag']+"|"+data50['table']
data75 = data75['data'].astype(str)+"|"+data75['tag']+"|"+data75['table']
data100 = data100['data'].astype(str)+"|"+data100['tag']+"|"+data100['table']
data25, data50, data75, data100 = pd.DataFrame(data25),pd.DataFrame(data50),pd.DataFrame(data75),pd.DataFrame(data100)

In [ ]:
data25

                                                   0
0  0|ALGERIA|0| haggle. carefully final deposits ...
1  1|ARGENTINA|1|al foxes promise slyly according...
2  2|BRAZIL|1|y alongside of the pending deposits...
3  3|CANADA|1|eas hang ironic, silent packages. s...
4  4|EGYPT|4|y above the carefully unusual theodo...
5  5|ETHIOPIA|0|ven packages wake quickly. regu|2...
6  6|FRANCE|3|refully final requests. regular, ir...

In [ ]:
csv_path1 = '/content/drive/MyDrive/Colab Notebooks/Flink/customer.csv'
customer = pd.read_csv(csv_path1, sep='|',header=None)
#make all columns into 1 column, separated by |
customer['data'] = customer[0].astype(str)#add 1 column
for col in range(1,customer.shape[1]-2):
  customer['data'] += "|"
  customer['data'] += customer[col].astype(str)
customer = customer['data']

In [ ]:
#split the data into 4 parts
customer_split = np.array_split(customer, 4)
customer25, customer50, customer75, customer100 = 0,0,0,0
df1 = [customer25, customer50, customer75, customer100]
for i in range(4):
  df1[i] = pd.DataFrame(customer_split[i]) 
  tag = [str(25*(i+1))]*len(df1[i])
  table = ['customer']*len(df1[i])
  df1[i]['tag'] = tag
  df1[i]['table'] = table
  #display(df[i])
#combine them together
customer_new = pd.concat(df1)
display(customer_new)

                                                     data  tag     table
0       1|Customer#000000001|IVhzIApeRb ot,c,E|15|25-9...   25  customer
1       2|Customer#000000002|XSTf4,NCwDVaWNe6tEgvwfmRc...   25  customer
2       3|Customer#000000003|MG9kdTD2WBHm|1|11-719-748...   25  customer
3       4|Customer#000000004|XxVSJsLAGtn|4|14-128-190-...   25  customer
4       5|Customer#000000005|KvpyuHCplrB84WgAiGV6sYpZq...   25  customer
...                                                   ...  ...       ...
149995  149996|Customer#000149996|syg3m0h2HMEUY6zJ2GEV...  100  customer
149996  149997|Customer#000149997|ufK xSg6NRC8QaunPB7J...  100  customer
149997  149998|Customer#000149998|NaDi,1fCNPDTntnVUjGy...  100  customer
149998  149999|Customer#000149999|nBpZoYhCPFKZqSunxdeH...  100  customer
149999  150000|Customer#000150000|DD7m6OBUJqlbTpiYmzK9...  100  customer

[150000 rows x 3 columns]

In [ ]:
pd.DataFrame(df1[0])

                                                    data tag     table
0      1|Customer#000000001|IVhzIApeRb ot,c,E|15|25-9...  25  customer
1      2|Customer#000000002|XSTf4,NCwDVaWNe6tEgvwfmRc...  25  customer
2      3|Customer#000000003|MG9kdTD2WBHm|1|11-719-748...  25  customer
3      4|Customer#000000004|XxVSJsLAGtn|4|14-128-190-...  25  customer
4      5|Customer#000000005|KvpyuHCplrB84WgAiGV6sYpZq...  25  customer
...                                                  ...  ..       ...
37495  37496|Customer#000037496|UljgabVl7,BptaxB7EJ1q...  25  customer
37496  37497|Customer#000037497|F7lL,OybVHCksIyHhCDb5...  25  customer
37497  37498|Customer#000037498|gF37vicbiRKO3UuJS5nqP...  25  customer
37498  37499|Customer#000037499|WU3vOirvVxgmPi7rfYLuZ...  25  customer
37499  37500|Customer#000037500|H9qfxq,yslzISDW5RnZES...  25  customer

[37500 rows x 3 columns]

In [ ]:
df1[0] = df1[0]['data'].astype(str)+"|"+df1[0]['tag']+"|"+df1[0]['table']
df1[1] = df1[1]['data'].astype(str)+"|"+df1[1]['tag']+"|"+df1[1]['table']
df1[2] = df1[2]['data'].astype(str)+"|"+df1[2]['tag']+"|"+df1[2]['table']
df1[3] = df1[3]['data'].astype(str)+"|"+df1[3]['tag']+"|"+df1[3]['table']

In [ ]:
#can only be run once
data25 = pd.concat([data25, pd.DataFrame(df1[0])])
data50 = pd.concat([data50, pd.DataFrame(df1[1])])
data75 = pd.concat([data75, pd.DataFrame(df1[2])])
data100 = pd.concat([data100, pd.DataFrame(df1[3])])

In [ ]:
df1[2][75000]

'75001|Customer#000075001|iQyegZCktrxX8jMFs9ip|3|13-826-812-1458|6154.12|FURNITURE|quickly ironic pinto beans up the blithely fluffy foxes wake about the blithely express excuses. carefully regular a|75|customer'

In [ ]:
csv_path2 = '/content/drive/MyDrive/Colab Notebooks/Flink/orders.csv'
orders = pd.read_csv(csv_path2, sep='|',header=None)
#make all columns into 1 column, separated by |
orders['data'] = orders[0].astype(str)#add 1 column
for col in range(1,orders.shape[1]-2):
  orders['data'] += "|"
  orders['data'] += orders[col].astype(str)
orders = orders['data']
orders

0          1|36901|O|173665.47|1996-01-02|5-LOW|Clerk#000...
1          2|78002|O|46929.18|1996-12-01|1-URGENT|Clerk#0...
2          3|123314|F|193846.25|1993-10-14|5-LOW|Clerk#00...
3          4|136777|O|32151.78|1995-10-11|5-LOW|Clerk#000...
4          5|44485|F|144659.2|1994-07-30|5-LOW|Clerk#0000...
                                 ...
1499995    5999972|143594|O|114856.68|1996-05-02|3-MEDIUM...
1499996    5999973|32071|O|68906.56|1997-07-13|4-NOT SPEC...
1499997    5999974|55448|F|92750.9|1993-07-28|3-MEDIUM|Cl...
1499998    5999975|113398|F|63216.65|1993-07-25|1-URGENT|...
1499999    6000000|110063|O|37625.29|1996-08-31|2-HIGH|Cl...
Name: data, Length: 1500000, dtype: object

In [ ]:
#split the data into 4 parts
orders_split = np.array_split(orders, 4)
orders25, orders50, orders75, orders100 = 0,0,0,0
df2 = [orders25, orders50, orders75, orders100]
for i in range(4):
  df2[i] = pd.DataFrame(orders_split[i]) 
  tag = [str(25*(i+1))]*len(df2[i])
  table = ['orders']*len(df2[i])
  df2[i]['tag'] = tag
  df2[i]['table'] = table
  #display(df[i])
#combine them together
orders_new = pd.concat(df2)
display(orders_new)

                                                      data  tag   table
0        1|36901|O|173665.47|1996-01-02|5-LOW|Clerk#000...   25  orders
1        2|78002|O|46929.18|1996-12-01|1-URGENT|Clerk#0...   25  orders
2        3|123314|F|193846.25|1993-10-14|5-LOW|Clerk#00...   25  orders
3        4|136777|O|32151.78|1995-10-11|5-LOW|Clerk#000...   25  orders
4        5|44485|F|144659.2|1994-07-30|5-LOW|Clerk#0000...   25  orders
...                                                    ...  ...     ...
1499995  5999972|143594|O|114856.68|1996-05-02|3-MEDIUM...  100  orders
1499996  5999973|32071|O|68906.56|1997-07-13|4-NOT SPEC...  100  orders
1499997  5999974|55448|F|92750.9|1993-07-28|3-MEDIUM|Cl...  100  orders
1499998  5999975|113398|F|63216.65|1993-07-25|1-URGENT|...  100  orders
1499999  6000000|110063|O|37625.29|1996-08-31|2-HIGH|Cl...  100  orders

[1500000 rows x 3 columns]

In [ ]:
df2[0] = df2[0]['data'].astype(str)+"|"+df2[0]['tag']+"|"+df2[0]['table']
df2[1] = df2[1]['data'].astype(str)+"|"+df2[1]['tag']+"|"+df2[1]['table']
df2[2] = df2[2]['data'].astype(str)+"|"+df2[2]['tag']+"|"+df2[2]['table']
df2[3] = df2[3]['data'].astype(str)+"|"+df2[3]['tag']+"|"+df2[3]['table']

In [ ]:
#can only be run once
data25 = pd.concat([data25, pd.DataFrame(df2[0])])
data50 = pd.concat([data50, pd.DataFrame(df2[1])])
data75 = pd.concat([data75, pd.DataFrame(df2[2])])
data100 = pd.concat([data100, pd.DataFrame(df2[3])])

In [ ]:
data25

                                                        0
0       0|ALGERIA|0| haggle. carefully final deposits ...
1       1|ARGENTINA|1|al foxes promise slyly according...
2       2|BRAZIL|1|y alongside of the pending deposits...
3       3|CANADA|1|eas hang ironic, silent packages. s...
4       4|EGYPT|4|y above the carefully unusual theodo...
...                                                   ...
374995  1499972|29221|O|157465.4|1997-10-20|5-LOW|Cler...
374996  1499973|135749|F|195059.75|1993-07-09|1-URGENT...
374997  1499974|30497|O|73075.16|1997-07-17|1-URGENT|C...
374998  1499975|2971|F|210686.76|1992-02-24|3-MEDIUM|C...
374999  1500000|126841|O|271230.7|1996-02-04|5-LOW|Cle...

[412507 rows x 1 columns]

In [ ]:
csv_path3 = '/content/drive/MyDrive/Colab Notebooks/Flink/lineitem.csv'
lineitem = pd.read_csv(csv_path3, sep='|',header=None)
#make all columns into 1 column, separated by |
lineitem['data'] = lineitem[0].astype(str)#add 1 column
for col in range(1,lineitem.shape[1]-2):
  lineitem['data'] += "|"
  lineitem['data'] += lineitem[col].astype(str)
lineitem = lineitem['data']
lineitem

0          1|155190|7706|1|17|21168.23|0.04|0.02|N|O|1996...
1          1|67310|7311|2|36|45983.16|0.09|0.06|N|O|1996-...
2          1|63700|3701|3|8|13309.6|0.1|0.02|N|O|1996-01-...
3          1|2132|4633|4|28|28955.64|0.09|0.06|N|O|1996-0...
4          1|24027|1534|5|24|22824.48|0.1|0.04|N|O|1996-0...
                                 ...
6001210    5999975|7272|2273|1|32|37736.64|0.07|0.01|R|F|...
6001211    5999975|6452|1453|2|7|9509.15|0.04|0.0|A|F|199...
6001212    5999975|37131|2138|3|18|19226.34|0.04|0.01|A|F...
6001213    6000000|32255|2256|1|5|5936.25|0.04|0.03|N|O|1...
6001214    6000000|96127|6128|2|28|31447.36|0.01|0.02|N|O...
Name: data, Length: 6001215, dtype: object

In [ ]:
#split the data into 4 parts
lineitem_split = np.array_split(lineitem, 4)
lineitem25, lineitem50, lineitem75, lineitem100 = 0,0,0,0
df3 = [lineitem25, lineitem50, lineitem75, lineitem100]
for i in range(4):
  df3[i] = pd.DataFrame(lineitem_split[i]) 
  tag = [str(25*(i+1))]*len(df3[i])
  table = ['lineitem']*len(df3[i])
  df3[i]['tag'] = tag
  df3[i]['table'] = table
  #display(df[i])
#combine them together
lineitem_new = pd.concat(df3)
#display(lineitem_new)

In [ ]:
df3[0] = df3[0]['data'].astype(str)+"|"+df3[0]['tag']+"|"+df3[0]['table']
df3[1] = df3[1]['data'].astype(str)+"|"+df3[1]['tag']+"|"+df3[1]['table']
df3[2] = df3[2]['data'].astype(str)+"|"+df3[2]['tag']+"|"+df3[2]['table']
df3[3] = df3[3]['data'].astype(str)+"|"+df3[3]['tag']+"|"+df3[3]['table']

In [ ]:
#can only be run once
data25 = pd.concat([data25, pd.DataFrame(df3[0])])
data50 = pd.concat([data50, pd.DataFrame(df3[1])])
data75 = pd.concat([data75, pd.DataFrame(df3[2])])
data100 = pd.concat([data100, pd.DataFrame(df3[3])])

In [ ]:
#run the whole data
wholedata = pd.concat([data25,data50,data75,data100])

In [ ]:
wholedata = pd.DataFrame(wholedata)

In [ ]:
wholedata.to_csv('wholedata.csv', index=False,header=None)
from google.colab import files
files.download('wholedata.csv')

In [ ]:
data25 = pd.DataFrame(data25)
data25

                                                         0
0        0|ALGERIA|0| haggle. carefully final deposits ...
1        1|ARGENTINA|1|al foxes promise slyly according...
2        2|BRAZIL|1|y alongside of the pending deposits...
3        3|CANADA|1|eas hang ironic, silent packages. s...
4        4|EGYPT|4|y above the carefully unusual theodo...
...                                                    ...
1500299  1500738|98326|836|1|6|7945.92|0.01|0.04|R|F|19...
1500300  1500738|154574|4575|2|24|39085.68|0.03|0.0|R|F...
1500301  1500738|120685|686|3|17|28996.56|0.02|0.06|A|F...
1500302  1500738|145481|3024|4|1|1526.48|0.1|0.07|R|F|1...
1500303  1500738|98478|8479|5|22|32482.34|0.05|0.04|A|F...

[1912811 rows x 1 columns]

In [ ]:
data25.head(15)

                                                   0
0  0|ALGERIA|0| haggle. carefully final deposits ...
1  1|ARGENTINA|1|al foxes promise slyly according...
2  2|BRAZIL|1|y alongside of the pending deposits...
3  3|CANADA|1|eas hang ironic, silent packages. s...
4  4|EGYPT|4|y above the carefully unusual theodo...
5  5|ETHIOPIA|0|ven packages wake quickly. regu|2...
6  6|FRANCE|3|refully final requests. regular, ir...
0  1|Customer#000000001|IVhzIApeRb ot,c,E|15|25-9...
1  2|Customer#000000002|XSTf4,NCwDVaWNe6tEgvwfmRc...
2  3|Customer#000000003|MG9kdTD2WBHm|1|11-719-748...
3  4|Customer#000000004|XxVSJsLAGtn|4|14-128-190-...
4  5|Customer#000000005|KvpyuHCplrB84WgAiGV6sYpZq...
5  6|Customer#000000006|sKZz0CsnMD7mp4Xd0YrBvx,LR...
6  7|Customer#000000007|TcGe5gaZNgVePxU5kRrvXBfka...
7  8|Customer#000000008|I0B10bB0AymmC, 0PrRYBCP1y...

In [ ]:
data25s = data25.sample(frac = 1)
data25s

                                                        0
269520  1078081|140524|F|133185.3|1994-08-08|3-MEDIUM|...
239     240|Customer#000000240|SXfeEOwRZsXArtY3C5UWqXg...
373801  1495202|146017|O|148579.46|1997-07-08|3-MEDIUM...
200850  803395|130927|F|179766.37|1993-08-29|5-LOW|Cle...
18939   18940|Customer#000018940|Fqlks6,74wRW6dr8jaofQ...
...                                                   ...
326733  1306918|125393|F|22741.13|1992-02-04|2-HIGH|Cl...
368313  1473250|129038|O|213831.62|1997-05-27|3-MEDIUM...
324011  1296036|89549|F|56527.09|1993-11-06|5-LOW|Cler...
12820   51269|60502|F|190150.85|1992-01-13|2-HIGH|Cler...
362840  1451361|62740|F|159801.55|1992-08-02|3-MEDIUM|...

[412507 rows x 1 columns]

In [ ]:
data25s.to_csv('data25s.csv', index=False)
from google.colab import files
files.download('data25s.csv')

In [ ]:
# shuffle the 25% data

data50s = data50.sample(frac = 1)
data75s = data75.sample(frac = 1)
data100s = data100.sample(frac = 1)

In [ ]:
#data25 with index
data25

                                                         0
80122    320483|16144|O|164809.39|1997-03-31|2-HIGH|Cle...
151151   604608|59665|F|52511.16|1992-02-10|5-LOW|Clerk...
1220885  1220992|160699|3216|7|35|61589.15|0.09|0.04|A|...
294748   1178981|84323|F|187066.52|1994-08-05|3-MEDIUM|...
887355   886950|153290|836|2|4|5373.16|0.1|0.03|R|F|199...
...                                                    ...
81660    326629|136106|F|44223.82|1993-09-23|5-LOW|Cler...
1400755  1400645|71030|6045|2|30|30030.9|0.06|0.04|N|O|...
896770   896421|12084|9588|3|3|2988.24|0.06|0.0|A|F|199...
373020   373249|184409|9446|5|1|1493.4|0.06|0.02|A|F|19...
97750    97346|141337|6366|2|33|45484.89|0.06|0.07|R|F|...

[1912811 rows x 1 columns]

In [ ]:
#data25.columns = ['a','b']
data25 = data25.reset_index(drop=True)
data50 = data50.reset_index(drop=True)
data75 = data75.reset_index(drop=True)
data100 = data100.reset_index(drop=True)

In [ ]:
#cd /Users/tianjiaohe/data

In [ ]:
data25

                                                         0
0        320483|16144|O|164809.39|1997-03-31|2-HIGH|Cle...
1        604608|59665|F|52511.16|1992-02-10|5-LOW|Clerk...
2        1220992|160699|3216|7|35|61589.15|0.09|0.04|A|...
3        1178981|84323|F|187066.52|1994-08-05|3-MEDIUM|...
4        886950|153290|836|2|4|5373.16|0.1|0.03|R|F|199...
...                                                    ...
1912806  326629|136106|F|44223.82|1993-09-23|5-LOW|Cler...
1912807  1400645|71030|6045|2|30|30030.9|0.06|0.04|N|O|...
1912808  896421|12084|9588|3|3|2988.24|0.06|0.0|A|F|199...
1912809  373249|184409|9446|5|1|1493.4|0.06|0.02|A|F|19...
1912810  97346|141337|6366|2|33|45484.89|0.06|0.07|R|F|...

[1912811 rows x 1 columns]

In [ ]:
data25.to_csv('data25.csv', index=False)
data50.to_csv('data50.csv', index=False)
data75.to_csv('data75.csv', index=False)
data100.to_csv('data100.csv', index=False)

In [ ]:
from google.colab import files
files.download('data25.csv')

In [ ]:
files.download('data50.csv')

In [ ]:
files.download('data75.csv')

In [ ]:
files.download('data100.csv')

In [ ]:
csv_path = '/content/drive/MyDrive/Colab Notebooks/Flink/data25.csv'
data25_new = pd.read_csv(csv_path,header=None)

In [ ]:
data25_new = pd.read_csv(csv_path,sep = '|',header=None)

ParserError: ignored

In [ ]:
data25_new[0][229378]

'767332|81113|1114|4|44|48140.84|0.06|0.07|N|O|1998-07-04|1998-06-26|1998-07-24|TAKE BACK RETURN|FOB|ding deposits pr|25|lineitem'

In [ ]:
data25_new[0][229377]

'856964|14745|2249|3|45|74688.3|0.01|0.0|R|F|1993-12-30|1994-01-27|1994-01-17|TAKE BACK RETURN|FOB|yly final requests integrate furiously|25|lineitem'

In [ ]:
data25_new[0][229376]

'660167|72623|5131|3|47|74994.14|0.06|0.01|N|O|1998-06-21|1998-06-24|1998-06-24|DELIVER IN PERSON|RAIL|ions. unusual, silent deposits amo|25|lineitem'

In [ ]:
data25_new.shape

(1048575, 1)